/* style.css */

/* Tło strony */
body {
    /* Tło jeśli przeglądarka nie oblsuguje gradientu */
    background-color: #4d47f5;
    /*background-image: linear-gradient(to bottom right, #4d47f5, #bc5bfc); */
    /* background-image: linear-gradient(to bottom right, #e3e2c1, #82bbc2); */
    background-image: linear-gradient(to bottom right,  #0a2859, #56449e);
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100hv;
}

/* Styl formularza do logowania / rejestracji */
.form-container {
    background-color: white; /* Kolor tła formularza */
    padding: 20px;
    border-radius: 15px; /* Zaokrąglone rogi */
    width: 300px; /* Szerokość formularza */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Cień wokół formularza */
    color: black;
}

/* Styl nazwy aplikacji */
.title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #333;
}

/* Styl dla nagłówka formularza */
h2 {
    text-align: center;
    color: #333;
}

/* Styl dla przycisków */
button {
    width: 100%; /* Szerokość przycisku */
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ddd; /* Kolor przycisku, gdy jest zablokowany */
    cursor: not-allowed;
}

/* Styl dla linku */
a {
    text-decoration: none;
    color: #4A90E2; /* Kolor niebieski */
}

.hide-navbar {
    display: none;
}

nav {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.ride-item {
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    padding: 15px; 
    margin-bottom: 15px; 
    margin-left: -40px;
    list-style-type: none;
    cursor: pointer;
}

.searchbar {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
   flex-wrap: wrap;
    align-items: center;
}

.search-input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    flex: 1;
    margin-left: auto;
    width: 100px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    margin-left: auto;
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.rides-container-list {
    list-style-type: none; 
    margin-top: 60px;
    text-align: left;
    background-color: white; /* Kolor tła formularza */
    padding: 20px;
    border-radius: 15px; /* Zaokrąglone rogi */
    width: 50vw; /* Szerokość formularza */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Cień wokół formularza */
    color: black;
}

.rides-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    list-style-type: none; 
    margin-top: 60px;
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 70vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
}


.map-image {
    border-radius: 50px;
    width: 50%; /* Szerokość formularza */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Cień wokół formularza */
    color: black;
}

.rides-title {
    text-align: left;
    margin-left: 20px; /* opcjonalnie: dodaje trochę luzu od lewej */
}

.request-button {
    width: 50%;
}

.description-input {
    width: 50%;
    height: 100%;
}