/* Styl narzucony dla całej strony (wszystkiego co znajduje się w body) */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #458dd9;
    background-image: linear-gradient(to bottom right,  #458dd9, #0e3763);
}

/* styl narzucony przyciskom */
button {
    background-color: #e6e6e6;
    border-radius: 15px;
    font-weight: bold;
    color: #333333;
}

button:hover {
    background-color: #fcef77;
}


/* styl paska nawigacji */
nav {
    background-color: #333333;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* styl listy w pasku nawigacji */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

/* styl linków w pasku nawigacji */
nav ul li a {
    padding: 10px;
    color: #e6e6e6;
    font-weight: bold;
}

/* styl dla inputów */
input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

/* styl kontenera do rejestracji / logowania */
.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    background-color: #333333; 
    padding: 20px;
    border-radius: 15px;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    color: white;
    gap: 10px;
}

/* styl kontenera zawierajacego "tresc" danej podstrony */
.content-container {
    margin-top: 60px;
    background-color: #333333;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-radius: 15px;
    display: flex;       
    flex-direction: column; 
    gap: 10px;   
}

/* styl pojedynczego elementu listy w body (np. lista przejazdow) */
.list-element {
    display: flex;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1); 
    padding: 5px; 
    margin-bottom: 15px; 
    margin-left: -40px;
    list-style-type: none;
    cursor: pointer;
    color: #333333;
    gap: 5px;
}

.list-element:hover {
    background-color: #fcef77;
    gap: 15px;
}

/* styl fragmentu elementu listy (np. data, godzina) */
.list-element-subelement {
    padding: 10px;
    margin: 5px;
    background-color: #e084c6;
    /* #ffd6f3 */ /* #6ade91 */
    border-radius: 15px;
    border-color: #333333;
}

/* styl dla okienka do filtracji / wprowadzania nowych przejazdów */
.searchbox {
    background-color: #333333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid white;

}

.filter-button {
    margin-left: auto;
}


